@model Microsoft.Samples.MyTodo.Web.ViewModels.Feed
@using Microsoft.Samples.MyTodo.Web.ViewModels
@{
    Layout = null;
    Response.AddHeader("Content-Type", "application/rss+xml"); 
}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>@(Html.Encode(Model.Title))</title>
        <description>@(Model.Description)</description>
        <link>@(Model.Url)</link>
        <language>@(Model.Language)</language>
 
       @foreach (FeedItem item in Model.Items)
       {
           <item>
               <dc:creator>@(Html.Encode(item.Creator))</dc:creator>
               <title>@(Html.Encode(item.Title))</title>
               <description>@(Html.Encode(item.Description))</description>
               @Html.Raw("<link>")@(item.Url)@Html.Raw("</link>")
               <pubDate>@(item.Published.ToString("R"))</pubDate>
               @foreach (string tag in item.Tags)
               {
                   <category>@(tag)</category>
               }
           </item>
       }
    </channel>
</rss>
