@{ 
    ViewBag.Title = "myTODO - Sign In"; 
}
@section MainContent {
    <div class="infoBox">
        <h2>
            Sign In</h2>
        <p>
        </p>
    </div>
    @(Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again."))
    @using (Html.BeginForm())
    {
        @(Html.AntiForgeryToken())
        @(Html.ValidationMessage("_FORM", new { @class = "summary-error" }))
        <div class="form">
            <p>
                Please enter your username and password.
            </p>
            <p>
                <label for="username">
                    Username:</label><br />
                @(Html.TextBox("username"))
                @(Html.ValidationMessage("username"))
            </p>
            <p>
                <label for="password">
                    Password:</label><br />
                @(Html.Password("password"))
                @(Html.ValidationMessage("password"))
            </p>
            <p>
                @(Html.CheckBox("rememberMe"))
                <label class="inline" for="rememberMe">
                    Remember me?</label>
            </p>
            <div class="submit">
                <input type="submit" value="Sign In &raquo;" />
            </div>
        </div>
    }
}
