@model Microsoft.Samples.MyTodo.Web.Models.ChangePasswordModel
@{ 
    ViewBag.Title = "myTODO - Profile"; 
}
@section MainContent {
    <div class="infoBox">
        <h2>
            Update Profile</h2>
        <p>
            Use the form below to update your account information.
        </p>
    </div>
    @(Html.ValidationSummary(true, "Profile update was unsuccessful. Please correct the errors and try again."))
    @using (Html.BeginForm())
    {
        <div class="form">
            <p>
                <label for="currentPassword">
                    Enter your current password<br />
                    <span>Leave this field in blank if you don&rsquo;t want to update your password.</span>
                </label>
                <br />
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </p>
            <div id="newPasswordFields">
                <p>
                    <label for="newPassword">
                        Pick a new password<br />
                        <span>Passwords are required to be a minimum of
                            @(Html.Encode(ViewData["PasswordLength"]))
                            characters in length.</span>
                    </label>
                    <br />
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </p>
                <p>
                    <label for="confirmPassword">
                        Confirm your new password<br />
                        <span>Type the password again. Just to confirm.</span>
                    </label>
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword)<br />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </p>
            </div>
            <div class="submit">
                <input type="submit" value="Update Profile &raquo;" />
            </div>
        </div>
    }
}

@section ScriptsContent {
    <script type="text/javascript">

        var checkHasPassword = function () {
            if ($('#currentPassword').val() == '') {
                $('#newPassword').attr("disabled", true);
                $('#confirmPassword').attr("disabled", true);
                $('#newPasswordFields').addClass("disabled");
            }
            else {
                $('#newPassword').attr("disabled", false);
                $('#confirmPassword').attr("disabled", false);
                $('#newPasswordFields').removeClass("disabled");
            }
        };

        $('#currentPassword').blur(checkHasPassword)
                         .keyup(checkHasPassword);

        $(document).ready(checkHasPassword);
            
    </script>
}